# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
.expo/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# testing
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
prisma/*.db
prisma/*.db-journal

# misc
*.pem
.cache/
